.home-main {
  position: relative;
  width: calc(100% - (var(--tab-w) * 5) - var(--gap)); 
  margin-left: 0;
  margin-right: auto; 
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 18px;
  width: 80px;
  z-index: 5000; 
  cursor: pointer;
  left: 50%;
  transform: translate3d(-50%, 0, 0); 
  -webkit-touch-callout: none; 
}

.image-container {
  position: relative;

  max-width: 60vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: manipulation; 
}

body.tab-open .image-container {
  display: none;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
  touch-action: manipulation; 
  -webkit-touch-callout: none; 
}

.image-container img.visible {
  opacity: 1;
  z-index: 10;
}

@media (max-width: 768px) {
  .home-main {

    width: calc(100vw - var(--sidebar-width-mobile)); 
    margin-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 100px;
    position: relative;
  }
  
  .logo {
    top: 18px;
    width: 70px;
    left: 50%;
    transform: translate3d(-50%, 0, 0); 
    position: absolute;
  }

  .image-container {
    max-width: 85vw;
    display: flex;
    justify-content: center;
  }
}
